<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO" packages="com.point72.log4j2">

    <!--
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
    此文件请不要格式化
     -->



    <Properties>
        <!-- 日志文件路径 -->
        <Property name="filePath">/Users/lzh/Tomcat/Logs/${sys:application_name}
        </Property>
        <Property name="PID">????</Property>
        <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
        <Property name="LOG_LEVEL_PATTERN">%5p</Property>
        <Property name="logFormat">
            %d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN} [${sys:application_name},%X{X-B3-TraceId},%X{X-B3-SpanId},%X{X-Span-Export}] ${sys:PID} --- [%15.15t] %-40.40c{1.} : %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}
        </Property>
    </Properties>

    <Appenders>
        <!-- 配置控制台输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logFormat}" />
        </Console>

        <!-- 配置info日志文件 -->
        <RollingFile name="RollingFile" fileName="${filePath}/info.log"
                     filePattern="${filePath}/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log.gz">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
            <ThresholdFilter level="debug" onMatch="NEUTRAL"
                             onMismatch="DENY" />
            <!-- <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%p] - %l -
                %m%n" /> -->
            <PatternLayout pattern="${logFormat}" />
            <Policies>
                <!-- 新建文件的时间策略 -->
                <TimeBasedTriggeringPolicy interval="1"
                                           modulate="true" />
            </Policies>
            <DefaultRolloverStrategy max="3000" />
        </RollingFile>


        <!-- <Kafka topic="log4j2" name="kafka">
            <PatternLayout pattern="${logFormat}" />
            <Property name="bootstrap.servers">kafka.sbbsk.com:9092</Property>
        </Kafka> -->

    </Appenders>
    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效 -->
    <Loggers>
        <!-- com.point72下的日志输出目的地 -->
        <Logger name="com.point72" level="DEBUG" additivity="false">
            <!-- <AppenderRef ref="kafka" /> -->
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Logger>
        <!-- sql日志输出目的地 -->
        <Logger name="druid.sql.Statement" level="DEBUG" additivity="false">
            <AppenderRef ref="Console" />
            <!-- <AppenderRef ref="kafka" /> -->
            <AppenderRef ref="RollingFile" />
        </Logger>

        <Logger name="org.apache.kafka" level="WARN" /><!-- avoid recursive logging -->


        <!-- 其它日志 -->
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <!-- <AppenderRef ref="kafka" /> -->
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>
