<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inno72.mapper.CommonMapper">
    <select id="findActivityIdByMachineCode">
        select activity_id from inno72_activity_plan
        where id = (
        select activity_plan_id from inno72_activity_plan_machine where machine_id =
        (select id from inno72_machine where machine_code = #{machineCode}))
        and is_delete = 0
    </select>
</mapper>